

<div class="container" style="margin-top: 15%;">

    <div class="row" style="margin-top:5%">

        <div class="card">
            <div class="card-header  text-center">
              Entrez le message à tester 
            </div>
            <div class="card-body">
             
        
        <form>
            
            <div class="form-group">
              <textarea [(ngModel)]="message" class="form-control" name="message"  type="text" rows="10"></textarea>
            </div>
          </form>
            </div>
            <div class="card-footer ">
                <button type="button" class="btn btn-secondary" routerLink="/welcome">Accueil</button>

                
                    <button type="button" class="btn btn-primary" style="margin-left: 80%;" (click)="onSend()" >Envoyer</button>
                  
              </div>
          </div>
    </div>

</div>



